<!--
  This template loads for the 'tab.about' state (app.js)
-->
<view title="'About Ionic'">
  <content has-header="true" has-tabs="true" padding="true">
    <p>
      This is a simple color mixer app using the Ionic Framework.
      <a href="http://ionicframework.com/docs/" target="_blank">docs</a>
      for more info.
    </p>
    <p>
     Want to follow?
     <a href="https://twitter.com/DIGnmg" target="_blank">Twitter</a>.
    </p>
    <p>
      Find a bug? Create an
      <a href="https://github.com/DIGnmg/colorMixer/issues/new" target="_blank">issue</a>.
    </p>
    <p>
      MIT Licensed.
    </p>
  </content>
</view>
